body{
    background-color:gray;
    margin:0px;
    color:white;
    box-sizing:border-box;
}
#container{
    margin:15px auto 15px auto;
    width:50%;
}
#header{
    border:3px solid black;
    padding:5px;
    width:100%;
    height:126px;
    background-color:green;
    margin-bottom:10px;
}
#header:hover{
    transition:2s;
    border-radius:10px;
}
#header:hover{
    transition:2s;
    border-radius:15px;
}
section{
    display:flex;
    width:100%;
    justify-content:space-between;
    flex-wrap:wrap;
}
#jeden{
    border:3px solid black;
    width:169px;
    height:169px;
    background-color:red;
    margin-bottom:10px;
    margin-right:10px;
}
#jeden:hover{
    transition:2s;
    border-radius:10px;
}
#dwa{
    border:3px solid black;
    width:169px;
    height:169px;
    background-color:red;
}
#dwa:hover{
    transition:2s;
    border-radius:10px;
}
#trzy{
    border:3px solid black;
    width:169px;
    height:169px;
    background-color:red;
}
#trzy:hover{
    transition:2s;
    border-radius:10px;}
#cztery{
    border:3px solid black;
    width:169px;
    height:169px;
    background-color:red;
}
#cztery:hover{
    transition:2s;
    border-radius:10px;
}
#piec{
    float:left;
    border:3px solid black;
    padding:5px;
    width:100%;
    height:169px;
    background-color:red;
    margin-bottom:10px;
}
#piec:hover{
    transition:2s;
    border-radius:10px;
}
#dol{
    clear:left;
    border:3px solid black;
    padding:5px;
    width:100%;
    height:85px;
    background-color:green;
}
#dol:hover{
    transition:2s;
    border-radius:10px;
}
#test{
    border:3px solid black;
    padding:5px;
    width:100%;
    height:485px;
    background-color:pink;
}
#image{
    width:100px;
    height:100px;
}
