body{
    background-color:gray;
    margin:0px;
    color:white;
}
#container{
    margin:15px auto 15px auto;
    width:800px;
}
#header{
    border:3px solid black;
    padding:5px;
    width:754px;
    height:100px;
    background-color:green;
    margin-bottom:10px;
}
#header:hover{
    transition:2s;
    border-radius:10px;
}
#header:hover{
    transition:2s;
    border-radius:15px;
}
#jeden{
    float:left;
    border:3px solid black;
    padding:5px;
    width:169px;
    height:200px;
    background-color:red;
    margin-right:10px;
}
#jeden:hover{
    transition:2s;
    border-radius:10px;
    width:169px;
    height:400px;
    background-color:red;
    border-bottom:none;
}
#dwa{
    float:left;
    border:3px solid black;
    padding:5px;
    width:169px;
    height:200px;
    background-color:red;
    margin-right:10px;
    margin-bottom:10px;
}
#dwa:hover{
    transition:2s;
    border-radius:10px;}
#trzy{
    float:left;
    border:3px solid black;
    padding:5px;
    width:169px;
    height:200px;
    background-color:red;
    margin-right:10px;
}
#trzy:hover{
    transition:2s;
    border-radius:10px;}
#cztery{
    float:left;
    border:3px solid black;
    padding:5px;
    width:169px;
    height:200px;
    background-color:red;
}
#cztery:hover{
    transition:2s;
    border-radius:10px;}
#dol{
    clear:left;
    border:3px solid black;
    padding:5px;
    width:754px;
    height:100px;
    background-color:green;
}
#dol:hover{
    transition:2s;
    border-radius:10px;
}
#test{
    border:3px solid black;
    width:764px;
    height:510px;
    background-color:pink;
}
